@import url("/home/linguini/.config/gtk-3.0/gruvbox.css");

window {
    margin: 0px;
    background-color: @bg0;
    border-radius: 15px;
    color: @fg0;
}

#input {
    margin: 10px;
    padding: 4px;
    padding-left: 10px;
    border-color: @fg0;
    border-style: solid;
    border-width: 1px;
    color: @fg0;
    background-color: @bg1;
    border-radius: 15px;
    outline: none;
}

#input:focus {
    border-color: @yellow-dark;
    border-width: 2px;
    outline: none;
}

#input:selected {
    border-color: @yellow-dark;
    border-width: 2px;
    outline: none;
}

#inner-box {
    margin: 4px;
    color: @fg0;
    font-weight: bold;
    background-color: @bg1;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: @bg;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img {
    margin-right: 15px;
    border-radius: 15px;
}

#text {
    font-weight: 300;
    border: none;
    margin: 0px 0px;
}

#text:selected {
    color: @bg0;
    font-weight: 800;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: @yellow-dark;
}
